* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
}

window {
  background-color: rgba(40, 44, 51, 1);  /* <-- key: alpha < 1 */
  border: 1px solid #343449;
  padding: 0;
  border-radius: 9px;
}

#outer-box {
  padding: 0;
  margin: 0;
}

#inner-box {
  padding: 0;
  margin: 0;
}

#input {
  background-color: #1e1e2e;
  border: 1px solid #3c3c53;
  padding: 6px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;

}

#entry, #input {
    background: transparent;
}

#input > #text {
  color: #ffffff;
}

#scroll {
  padding: 0;
  margin: 0;
}

#entry {
  padding: 8px;
  border-bottom: 1px solid #2e343f;
}

#entry > #text {
  color: #3c3c53;
}

#entry:selected {
  color: #343449;
  background-color: #3c3c53;
}

#entry:selected > #text {
  color: #282C33;
}